;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []
 
 :dev-http {3000 "public"}
 
 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn todo.app.core/init}}}}}
