;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.0.0"]
  [binaryage/devtools "1.0.2"]]

 :dev-http {3000 "public"}

 :nrepl {:port 55555
         :init-ns todo.app.core}

 :builds
 {:frontend
  {:target :browser
   :devtools {:preloads [devtools.preload]}
   :modules {:main {:init-fn todo.app.core/main}}}}}
