:root {
  --padding: 2rem 3rem;
  --margin: 1rem;
  --border: 1px solid black;
  --purple: #7321ce;
}

body,
html {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  background: ghostwhite;
  font-family: "Open Sans", sans-serif;
}

#root {
  padding: 0.5rem;
  max-width: 80%;
  margin: 0 auto;
}

#todo-wrapper {
  border: var(--border);
  padding: var(--padding);
  margin: var(--margin);
}

#todo-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.todo-input {
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--purple);
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0.75rem;
}

.todo-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem;
  border-bottom: 1px solid black;
}

.todo-item label span {
  font-size: 1.25rem;
}

.add-button {
  background: ghostwhite;
  margin: 1rem;
  padding: 1rem;
  color: royalblue;
  border: 1px solid royalblue;
}

.delete-button {
  color: tomato;
  cursor: pointer;
  font-size: 2rem;
}

.add-button span {
  text-align: left;
}

#chart-wrapper {
  display: flex;
  flex-direction: row;
}

.chart {
  border: var(--border);
  padding: var(--padding);
  justify-content: space-between;
  overflow: scroll;
  margin: var(--margin);
  flex: 1;
}

.bar {
  fill: #aaa;
  height: 1.75rem;
  transition: fill 0.3s ease;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
}

.bar text {
  fill: #555;
}

.bar:hover,
.bar:focus {
  fill: blue !important;
}

.bar:hover text,
.bar:focus text {
  fill: blue;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figcaption {
  font-weight: bold;
  color: #000;
  margin-bottom: 1.25rem;
}

#pie-chart {
  height: 200px;
  width: 200px;
}

circle {
  transform: rotate(-90deg) translate(-20px);
  transition: stroke-dasharray 0.3s ease;
}

@media only screen and (max-width: 1024px) {
  #root {
    max-width: 100%;
  }

  #chart-wrapper {
    flex-direction: column;
  }
}

/* color classes */
.tomato {
  color: tomato;
}

.blue {
  color: blue;
}
